body{
	text-align:center;
	background-color: #595959;
}	

a{
	color:yellow;
	text-decoration:none;
}

a:hover{
	color:blue;
	text-decoration:none;
}

a:active{
	color:white;
}

/*
	For Icons: http://www.w3schools.com/css/css_icons.asp

*/

#body1{
	background-image: url(images/nycgif.gif);
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
	font-family:"Henny Penny";
	text-align:center;
}

header{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: white;
	text-align:center;
	line-height:45%;
	border-bottom:groove;
	margin:auto;
}

#aboutMe{
	margin-top:10px;
	margin-bottom:auto;
	margin-right:25px;
	margin-left:750px;
}

#tools{
	margin-top:10px;
	margin-bottom:auto;
	margin-right:750px;
	margin-left:45px;
}

#goals{
	margin-top:10px;
	margin-bottom:auto;
	margin-right:65px;
	margin-left:800px;
}

#contactMe{
	margin-top:10px;
	margin-bottom:auto;
	margin-right:950px;
	margin-left:25px;
}


footer{
	color: orange;
	/*background-image:url("images/stars3.jpeg");*/
	background-size:77%;
	background-repeat:no-repeat;
	background-position:right;
	border-top:groove;
	text-align:right;
	/*text-shadow:1px 4px black;*/
	/*margin-left: 800px*/
}